body{
    background-color: darkgray;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: .5rem 0;
}

input {
    width: 100%;
    padding: .4rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: .5rem;
    text-align: left;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

.error {
    color: #b00020
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}

a {
    color: blue;
    text-decoration: none;
    margin-bottom: 1rem;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.create-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.create-btn:hover {
    background-color: #45a049;
}

.logout-btn {
    background-color: #555555;
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    float: right;
}
.logout-btn:hover {
    background-color: #333333;
}