<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employees</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main class="container">
        <header style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 1em;">
            <div><a href="/">Employees</a></div>

            <div>
                {{#if user}}
                    <span>Welcome <span style="font-weight: bold; font-size: xx-large">{{user.username}}</span></span>

                    <form action="/auth/logout" method="POST">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>

                {{else}}
                    <a href="/auth/login">Login | </a>
                    <a href="/auth/register">Register</a>
                {{/if}}
            </div>
        </header>
        {{{body}}} {{!-- Handlebars placeholder for dynamic content --}}
    </main>
</body>
</html>